@font-face {
    font-family: 'great_vibesregular';
    src: url('fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('fonts/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    margin: 0;
}

/*Logo section*/

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35vw;
    background-image: url(images/cat-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 200px;
}
#cat-logo{
    width: 120px;
    height: 100%;
}
.logo > p{
    font-family: "great_vibesregular", sans-serif;
    font-size: 64px;
    margin:20px 20px 0 20px;
    color: #A8923C;
    font-weight: bold;
}
.author-container{
    text-align: center;
    color: white;
    opacity: 0.8;
}
.author-container p > a{
    color: white;
}

/*Form section*/
.welcome{
    padding: 60px 0px 0px 60px;
}
.welcome p{
    max-width: 60ch;
    font-family: Tahoma, sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.welcome p span{
    display: block;
}
.welcome p > span + span{
    margin-top: 36px;
}
.form-container{
    width: 65vw;
    background-color: rgb(245, 245, 245);
}
.white-bg{
    background-color: rgb(255, 255, 255);
    padding: 20px 60px 20px 60px;
    margin-top: 60px;
}
form > p{
    font-family: Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 400;
}
.form-row{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.input-container{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    margin-right: 60px;
}

label{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 500;
}
input:invalid:focus + label::after{
    content: " (" attr(data-help) ")";
    color: red;
}

input{
    width: 250px;
    height: 24px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    margin-top: 3px;
}

input:focus{
    outline-color: blue;
}
input:invalid:focus{
    border-color: red;
}
.form-end{
    margin-top: 30px;
    margin-left: 60px;
}

.form-end p{
    font-family: Tahoma, sans-serif;
    font-size: 18px;
}
.form-end > p > a{
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

button{
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgb(118, 118, 118);
}